<html>
    <head>
        <title>Yelpcamp</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
        <link rel="stylesheet" href="/stylesheets/main.css">
        <style>
            h1 {
                color: #020202;
                font-size: 50px;
                font-weight: 700;
            }
        </style>
    </head>
    <body>
        <div id="landing">
            <h1 style="margin-bottom: 1.2rem;">Welcome to yelpcamp!</h1>
            <a href="/campgrounds" class="btn btn-lg btn-primary">View All Campgrounds</a>
        </div>
        <ul class="slideshow">
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
        </ul>
    </body>
</html>
